td {
  max-width: 40vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

table tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}

table tbody tr:hover {
  background-color: rgba(13, 110, 253, 0.08);
  cursor: pointer;
}
